name: C CI

on:
  push: 
   branches:
      - 'master'
  pull_request:
    types: 
      -opened

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Build
      working-directory: ./challenge07/
      run: make all

      
    - name: Run tests
      working-directory: ./challenge07/
      run: make test
