name: C CI

on:
  push: 
   branches:
      - 'main'
  pull_request:
    types: 
      -opened

jobs:
  build:
    runs-on: ubuntu-latest
    working-directory: ./challenge07/
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: make all
    - name: Run tests
      run: make test
